[submodule "boringssl"]
	path = boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "lsquic"]
	path = lsquic
	url = https://github.com/mwalker2299/lsquic.git
[submodule "wireshark"]
	path = wireshark
	url = https://github.com/wireshark/wireshark.git
